* {
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(248, 236, 223);
  min-height: 100vh;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
}

#root {
  display: flex;
  gap: 2px;
  width: 800px;
  border-radius: 4px;
  background-color: rgb(31, 28, 28);
  padding: 2px;
}

.project__list__section,
.todo__list__section {
  border: 2px solid rgb(191, 179, 179);
  border-radius: 4px;
}

.project__list__section {
  width: 180px;
}

.todo__list__section {
  flex: 1 0;
}

.project__list__header {
  display: flex;
  justify-content: space-between;
}

.project__list__header>span {
  font-size: 24px;
}

.project__list,
.todo__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 700px;
  overflow: scroll;
}

.project {
  height: 1.5em;
}

footer {
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}