* {
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI'
    , Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue'
    , sans-serif;
}

body {
  background: radial-gradient(rgb(248, 236, 223), rgb(238, 221, 200));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

#root {
  margin-top: 6%;
  display: flex;
  gap: 2px;
  width: 60vw;
  border-radius: 4px;
  background: linear-gradient(rgb(39, 36, 36), rgb(31, 28, 28));
  padding: 2px;

  box-shadow: 0 0 5px 5px rgb(8, 8, 8);
}

.project__list__section,
.task__list__section {
  border: 2px solid rgb(191, 179, 179);
  border-radius: 4px;
}

.project__list__section {
  width: 180px;
}

.task__list__section {
  flex: 1 0;
}

.project__list__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.project__list__header>span {
  font-size: 1.5em;
}

.task__list__header {
  height: 40px;
}

.project__list,
.task__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 70vh;
  overflow: scroll;
}

.project {
  height: 1.5em;
  display: flex;
  justify-content: space-between;
}

footer {
  color: black;
}



#form__modal {
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  border: none;
}

#form__modal::backdrop {
  background-color: rgba(0, 0, 0, .5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  font-weight: 600;
}

.form input {
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
}

.form input:focus {
  border-bottom: 2px solid #3e89de;
  /* box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1); */
}

.form__row {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.form__row__title>input {
  font-size: 1.5em;
}

.form__row>textarea {
  resize: vertical;
}

.form__buttons {
  border-top: 1px solid rgb(195, 192, 192);
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form__buttons>button {
  width: 100px;
  padding: 4px 8px;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s;
}

.form__cancel {
  background-color: transparent;
  border: 2px solid transparent;
  color: black;

}

.form__cancel:hover,
.form__cancel:focus {
  border-color: rgb(255, 0, 0);
  background-color: rgb(246, 203, 203);
}

.form__save {
  border: 2px solid transparent;
  background-color: #4892e7;
  color: white;
}

.form__save:hover,
.form__save:focus {
  background-color: #1d65b7;
  color: white;
}