* {
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: bisque;
}

#root {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
}

.projects__container {
  background-color: white;
  height: 100vh;
}